#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Rich_text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Rich_text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Label_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Rich_text_78 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Rich_text_83 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Rich_text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-076ecfbc-dc3a-4685-ab09-3e502cd5b688 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}