#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rich_text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rich_text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rich_text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rich_text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rich_text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rich_text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rich_text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rich_text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Rich_text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-256607f7-f80a-405d-b950-4e91ea6ac060 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}