#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Rich_text_198 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Line_107 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Input_12 INPUT {
  font-family: Arial;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Rich_text_197 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Line_106 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Label-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Rich_text_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Input_10 INPUT {
  font-family: Arial;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-303c6d16-2f01-45d4-b690-f63e4615ca6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}