#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Rich_text_24 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Rich_text_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FD9927;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FD9927;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FD9927;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FD9927;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 40px;
  height: 40px;
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}