#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Rich_text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-37828431-47fa-40e4-9453-bf464a7fb0bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}