#s-88df5214-9920-428e-838a-509bbd4554b7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88df5214-9920-428e-838a-509bbd4554b7 #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88df5214-9920-428e-838a-509bbd4554b7 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88df5214-9920-428e-838a-509bbd4554b7 #s-Loading {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-88df5214-9920-428e-838a-509bbd4554b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}