#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Table_1 {
  border-collapse: separate;
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Rich_text_78 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_18 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Rich_text_79 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_19 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Rich_text_80 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_20 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Rich_text_81 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_22 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Rich_text_24 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Rich_text_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-955a66e0-7c60-41f9-8b29-78f13e80d90c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}