#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Rectangle_14 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Rich_text_27 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Table_1 {
  border-collapse: separate;
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Rich_text_26 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Label_92 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Rich_text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Rich_text_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9ec61798-1b3c-408a-81c7-12c999e23e87 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}