#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Label_92 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Label_93 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Button_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Label_94 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Label_95 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Rich_text_24 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Rich_text_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b31de7dc-0f47-4319-ab94-d43ca10f64d8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}