#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 > #backgroundBox {
  background-color: #EFEFEF;
  background-image: none;
  position: absolute;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Header-top {
  position: absolute;
  width: 320px;
  height: 64px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_24 {
  position: absolute;
  width: 320px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_24 span#rtr-s-Rich_text_24_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_87 {
  position: absolute;
  width: 214px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-button-back_9 {
  position: absolute;
  width: 51px;
  height: 22px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_82 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_82 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_82 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_82 span#rtr-s-Label_82_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_5 > svg {
  width: 19px;
  height: 22px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_5 {
  position: absolute;
  width: 19px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Statusbar-white_1 {
  position: absolute;
  width: 320px;
  height: 20px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rectangle_3 {
  position: absolute;
  width: 320px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_31 {
  position: absolute;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Group_15 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_7 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_10 .content {
  width: 6px;
  height: 6px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_10 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_14 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_18 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_18 .content {
  width: 6px;
  height: 6px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_18 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_18 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_18 span#rtr-s-Ellipse_18_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_19 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_19 .content {
  width: 6px;
  height: 6px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_19 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #shapewrapper-s-Ellipse_19 span#rtr-s-Ellipse_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_53 {
  position: absolute;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_15 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_24 > svg {
  width: 14px;
  height: 14px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_24 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_30 > svg {
  width: 18px;
  height: 18px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_30 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_2 {
  position: absolute;
  width: 320px;
  height: 89px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_1 {
  position: absolute;
  width: 283px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #47CE5F;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_11 > svg {
  width: 49px;
  height: 48px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_11 {
  position: absolute;
  width: 49px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_3 {
  position: absolute;
  width: 320px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_4 {
  position: absolute;
  width: 283px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_5 {
  position: absolute;
  width: 320px;
  height: 110px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_6 {
  position: absolute;
  width: 283px;
  height: 104px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}