#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Rich_text_78 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ok-green {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Table_1 {
  border-collapse: separate;
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Rich_text_24 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Rich_text_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cea6e964-f2d2-4b95-aa1e-ed7fd96f9fb4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}