#s-e194a328-5dcb-40fc-9a81-3a77666ac647 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e194a328-5dcb-40fc-9a81-3a77666ac647 #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e194a328-5dcb-40fc-9a81-3a77666ac647 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e194a328-5dcb-40fc-9a81-3a77666ac647 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e194a328-5dcb-40fc-9a81-3a77666ac647 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}