#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-250d14a4-5a49-4dd5-a79b-a0cb5c939743 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}