#s-78916770-54d9-4169-bd93-ea0cee1b53f9 > #backgroundBox {
  background-color: #F3F3F3;
  background-image: none;
  position: absolute;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Header-top {
  position: absolute;
  width: 320px;
  height: 64px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_24 {
  position: absolute;
  width: 320px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_24 span#rtr-s-Rich_text_24_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_88 {
  position: absolute;
  width: 214px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_88 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_88 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_88 span#rtr-s-Label_88_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_82 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_82 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_82 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_82 span#rtr-s-Label_82_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Statusbar-white_1 {
  position: absolute;
  width: 320px;
  height: 20px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rectangle_3 {
  position: absolute;
  width: 320px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_31 {
  position: absolute;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Group_15 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_7 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_10 .content {
  width: 6px;
  height: 6px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_10 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_14 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_18 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_18 .content {
  width: 6px;
  height: 6px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_18 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_18 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_18 span#rtr-s-Ellipse_18_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_19 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_19 .content {
  width: 6px;
  height: 6px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_19 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_19 span#rtr-s-Ellipse_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_53 {
  position: absolute;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_15 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_24 > svg {
  width: 14px;
  height: 14px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_24 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_30 > svg {
  width: 18px;
  height: 18px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_30 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_36 {
  position: absolute;
  width: 320px;
  height: 44px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_36 span#rtr-s-Rich_text_36_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_7 > svg {
  width: 28px;
  height: 28px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_7 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_12 > svg {
  width: 28px;
  height: 28px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_12 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_10 > svg {
  width: 28px;
  height: 28px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_10 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_2 > svg {
  width: 28px;
  height: 28px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_3 > svg {
  width: 28px;
  height: 28px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_3 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_5 .content {
  width: 24px;
  height: 24px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_5 {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #DD3214;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_1 {
  position: absolute;
  width: 290px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_4 {
  position: absolute;
  width: 294px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue .content {
  width: 14px;
  height: 14px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #157EFB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue span#rtr-s-dot-blue_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_1 .content {
  width: 14px;
  height: 14px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_1 {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_1 span#rtr-s-dot-blue_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_2 .content {
  width: 14px;
  height: 14px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_2 {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_2 span#rtr-s-dot-blue_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_3 .content {
  width: 14px;
  height: 14px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_3 {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_3 span#rtr-s-dot-blue_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_4 .content {
  width: 14px;
  height: 14px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_4 {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #shapewrapper-s-dot-blue_4 span#rtr-s-dot-blue_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_5 {
  position: absolute;
  width: 305px;
  height: 127px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}