#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Rich_text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-dot-blue_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-78916770-54d9-4169-bd93-ea0cee1b53f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}