#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Rich_text_198 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Line_107 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Line_107 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Rich_text_197 {
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Line_106 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Line_106 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Label-blue_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 291px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b0599c6d-64c7-4cdf-8195-fa2d97e72e3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}