#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}