#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_24 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Rich_text_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 40px;
  height: 40px;
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ca8c0b5f-7d6a-4d09-a1ca-cc9d29265d70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}