#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Rich_text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Rich_text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fa197263-4593-4b36-820e-8c5f64c9ac7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}